<html>
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
        <title>{% block titlename %}{% endblock %}HTLS 河圖洛書</title>
        <meta name="description" content="利用河圖洛書計算流年運勢">
        <meta name="keywords" content="河圖洛書,易經,姓名筆劃,Google App Engine,XMPP"> 
        <link rel="stylesheet" type="text/css" href="/css/css.css">
    </head>
    <body>
        <div class="cc">
                <div class="desc">
                  <a href="/">HTLS 河圖洛書小程式</a> - <a href="/getinvite">索取邀請函</a>
                     / <a target="_blank" href="https://github.com/toomore/HTLS/wiki/GTalk">使用說明</a>
                     / <a href="/mass">大量計算</a>
                     / <a href="http://zh.wikipedia.org/zh-tw/%E6%B2%B3%E5%9C%96%E6%B4%9B%E6%9B%B8">何謂河圖洛書？</a>
                </div>
                <div class="descr">
                  {{ tv.umail }} <img src="/images/favicon.ico">
                </div>
        </div>
        <div class="cc top"></div>
        <div class="desc">{% block userinfo %}{% endblock %}</div>
        <div class="cc">
        <table width="100%" height="70%">
            <tr align="center">
                <td align="center" valign="middle">
                    <div class="con">{% block content %}{% endblock %}</div>
                </td>
            </tr>
        </table>
        <div class="foot">{% block foot %}{% endblock %}</div>
    </body>
    {% include "h_analytics.htm" %}
</html>

