{% extends "h_infopage.htm" %}

{% block titlename %}大量計算結果 - {% endblock %}

{% block content %}
<div class="tips">
計算 {{ tv.times }} 項樣本 (需時 {{ tv.t }} 秒)，結果如下：
</div>
<div class="massresult">
{% for i in tv.q %}
{{ i }}<br>
{% endfor %}
</div>
<div class="tips">
Tips：可以將以上的資料複製，到<b>試算表</b>使用<b>選擇性貼上</b>、<b>匯入字串精靈（Excel）</b>、<b>空隔</b>區隔，作資料再處理使用！<br>
</div>
<form action="/dl" method="POST">
  <div class="tips">
    <a href="/mass">← 再計算其他的</a>，或下載計算結果。
  </div>
  <div class="tips">
    <select name="c">
      <option value='big5'>Big5</option>
      <option value='utf8'>UTF-8</option>
    </select>
    <input type="submit" value='下載 *.csv'>
  </div>
  <textarea name="q" style="visibility:hidden" rows="0" cols="0">
HTLS河圖洛書小程式
http://myhtls.appspot.com/
{% for i in tv.q %}{{ i }}
{% endfor %}
  </textarea>
</form>
{% endblock %}

{% block foot %}
<div class="descr">{% include "h_desc.htm" %}</div>
{% endblock %}
